/* *,
* ::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .8s;
}

input {
  opacity: 0;
}

.light-dark {
  position: fixed;
  top: 140px;
  right: 70px;

  z-index: 99;
}


input[type=checkbox]:checked+label {
  box-shadow: inset -20px 0 10px rgba(0, 0, 0, .5), inset -5px 0 10px rgba(0, 0, 0, .5);
}

input[type=checkbox]:checked+label .droid {
  left: 43%;
}

input[type=checkbox]:checked+label .body {
  transform: rotate(360deg);
}

input[type=checkbox]:checked+label .eyes {
  left: 45%;
}

input[type=checkbox]:checked+label .radios {
  left: 5%;
}

input[type=checkbox]:checked+label~section {
  background: linear-gradient(black, gold);
}


.bb8_label {
  display: inline-block;
  width: 150px;
  height: 80px;
  background: linear-gradient(purple, orangered, red);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 20px 0 10px rgba(0, 0, 0, .5), inset 5px 0 10px rgba(0, 0, 0, .5);
  border-radius: 150px;
  border: 1px solid black;
  cursor: pointer;
}

.droid {
  --size: 80px;
  position: absolute;
  margin-left: 0;
  width: var(--size);
  bottom: 4px;
  left: 4%;
  z-index: 99;
  animation: droid-an 6s linear infinite;
}

.radios {
  position: absolute;
  transition: left .6s;
  left: 30px;
}

.radio {
  background: cornsilk;
  position: absolute;
  width: 2px;
}

.radio.short {
  height: 15px;
  top: -45px;
  left: 15px;
}

.radio.long {
  border-top: 6px solid black;
  border-bottom: 6px solid black;
  height: 36px;
  top: -65px;
  left: 20px;
}

.head {
  background: cornsilk;
  border-radius: 90px 90px 14px 14px;
  height: 40px;
  width: 60px;
  margin-left: -32px;
  overflow: hidden;
  position: absolute;
  z-index: 99;
  top: -35px;
  left: 50%;
  border: 1px solid black;
}

.band {
  position: absolute;
  width: 100%;
}

.band.one {
  background: crimson;
  height: 6px;
  z-index: 99;
  top: 6px;
  opacity: .8;
}

.band.two {
  background: gold;
  height: 4px;
  top: 17px;
}

.band.three {
  background: crimson;
  height: 4px;
  top: 27px;
  opacity: .8;
}

.eyes {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: left .6s;
  left: 0%;
  z-index: 100;
}


.eye {
  border-radius: 50%;
  display: block;
  position: absolute;
}

.eye.one {
  background: black;
  border: 2px solid darkkhaki;
  height: 15px;
  width: 15px;
  top: 12px;
  left: 12%;
}

.eye.one::after {
  content: "";
  display: block;
  background: white;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 2px;
  right: 2px;
}

.body {
  background: cornsilk;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  overflow: hidden;
  position: relative;
  border: 1px solid black;
  animation: body-an 1.2s linear infinite;
}

.lines {
  border: 1px solid gold;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  opacity: .6;
}

.lines.two {
  top: -10px;
  left: -250px;
}

.circle {
  background: orange;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: -35px;
  position: absolute;
}

.circle::after {
  content: "";
  display: block;
  background: gold;
  border-radius: 50%;
  width: 70%;
  height: 70%;
  margin-top: -100%;
  margin-left: -35%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.circle.one {
  -ms-flex-line-pack: -40px;
  height: 20px;
  width: 20px;
  top: 6%;
  left: 50%;
}

.circle.two {
  width: 30px;
  height: 30px;
  transform: rotate(40deg);
  top: 70%;
  left: 18%;
}

.circle.two::after {
  top: 110%;
}

.circle.three {
  height: 30px;
  transform: rotate(-50deg);
  top: 66%;
  left: 90%;
}

.circle.three::after {
  top: 110%;
}

@media only screen and(max-width:600px) {

  .light-dark,
  .bb8_label {
    display: none;
  }
} */