.about {
  padding: 40px 0;
  box-shadow: inset 0 10px 6px $color-red, inset 0 -10px 6px $color-red;


  &__inform {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and(max-width:700px) {
      flex-direction: column;
    }
  }

  &__img {
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  &__text {
    margin-left: 20px;

    @media only screen and(max-width:700px) {
      margin-top: 30px;
    }

    .lenguages {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 10px;

      @media only screen and(max-width:600px) {
        flex-direction: column;
      }

      .lenguage {
        color: $color-red;
        font-size: 18px;
        font-weight: 700;
        border: 1px solid $color-red;
        border-right: transparent;
        border-left: transparent;
        padding: 4px 10px;

        @media only screen and(max-width:600px) {
          margin-top: 10px;
        }
      }
    }
  }
}