.h1 {
  text-transform: uppercase;
  color: $color-white;
  -webkit-text-stroke: 2px $color-red;
  letter-spacing: 4px;
  font-size: 40px;
  text-align: center;

  @media only screen and(max-width:370px) {
    font-size: 20px;
  }

  &--title {
    margin-bottom: 20px;
    clip-path: polygon(49% 52%, 62% 0, 73% 33%, 86% 0, 100% 99%, 0 100%, 13% 0, 24% 35%, 35% 0);
    width: 500px;
    height: 100px;
    background-color: $color-primary;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    @media only screen and(max-width:520px) {
      width: 300px;
    }
  }

  &--name,
  &--contact {
    padding-bottom: 10px;
    border-bottom: 2px solid red;
    margin-bottom: 20px;
  }
}

.h3 {
  text-transform: uppercase;
  text-align: center;
  color: $color-primary;
  text-shadow: -2px 2px 4px $color-red, -2px -2px 4px $color-red, 2px -2px 4px $color-red, 2px 2px 4px $color-red;
  margin-bottom: 5px;
  word-spacing: 4px;
  letter-spacing: 2px;
}

.p {
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #333;

  &--more {
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      box-shadow: inset 2px 2px 10px red;
      border-radius: 50%;
    }
  }

  &--span {
    color: $color-red;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}