.btns {
  position: fixed;
  top: 50%;
  right: -5%;
  transform: translateY(-50%);
  transition: all .6s cubic-bezier(.39, 1.95, .71, 1.95);
  opacity: 0;
  visibility: hidden;

  z-index: 99;

  @media only screen and(max-width:600px) {
    top: 70%;
  }

  &-active {
    right: 5%;
    opacity: 1;
    visibility: visible;
  }
}


.btn {
  display: block;
  height: 50px;
  width: 50px;
  z-index: 77;
  color: $color-primary;
  position: relative;
  margin-bottom: 10px;
  animation: btn-anim 2s linear infinite;

  &:hover .blured::before {
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
  }

  &:hover .blured::after {
    width: 15px;
    height: 15px;
    top: 30px;
    left: 45px;
  }

  &:hover .blured>span:nth-of-type(1) {
    width: 30px;
    height: 30px;
    top: -10px;
    left: -20px;
  }

  &:hover .blured>span:nth-of-type(2) {
    width: 25px;
    height: 25px;
    top: 40px;
    left: -20px;
  }

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    z-index: 7;
  }

  .blured {
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-red;
      border-radius: 100%;
      transition: 1.5s cubic-bezier(0, 2, .61, -0.05);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-red;
      border-radius: 100%;
      transition: 1.7s cubic-bezier(0, 2, .61, -0.05);

    }

    span {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
      background-color: $color-red;
      border-radius: 100%;
      transition: 1.4s cubic-bezier(0, 2, .61, -0.05);

    }
  }
}

.arrow {
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 99;
  cursor: pointer;
  transform: translate(70px, 70px);
  opacity: 0;
  visibility: hidden;

  transition: all .6s cubic-bezier(.39, 1.95, .71, 1.95);

  &-active {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }

  & i {
    font-size: 40px;
    color: red;
  }
}

@keyframes btn-anim {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(20deg);
  }

  80% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}