*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $color-primary;
  color: $color-white;

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-primary;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-red;
    border-radius: 20px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.main {
  margin-top: 64px;

  @media only screen and(max-width:600px) {
    margin-top: 74px;
  }
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;

  @media only screen and(max-width:600px) {
    max-width: 100%;
  }
}