.footer {
  background-color: $color-white;
  padding: 40px 0;
  box-shadow: inset 0 10px 6px $color-black, inset 0 -10px 6px $color-black;

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and(max-width:440px) {
      flex-direction: column;
    }

    .button {
      color: $color-primary;
      width: 200px;
      height: 60px;
      position: relative;
      overflow: hidden;
      transition: 1s;
      margin: 10px;
      border: 1px solid $color-black;

      &:hover {
        color: $color-white;
        transition: 1s cubic-bezier(0, 2, .5, -0.3);
      }

      &:hover li {
        left: 0 !important;
        border-radius: 0;
        transition: 1.2s cubic-bezier(0, 2, .2, -1);
      }

      p {
        position: relative;
        z-index: 20;
        line-height: 60px;
        text-align: center;
        font-size: 25px;
        font-weight: 900;
      }

      ul {
        list-style: none;
        display: block;
        height: 60px;

        li {
          background-color: $color-black;
          width: 100%;
          height: 6px;
          transition: 1.2s;
          border-radius: 50%;
        }
      }

      .left {
        width: 80%;
        position: absolute;
        top: 0;
        left: 0;

        li {
          position: relative;
          left: -205px;
        }
      }

      .right {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
        position: absolute;
        left: 20%;
        top: 0;

        li {
          position: relative;
          left: 205px;
        }
      }

      & li:nth-child(2) {
        transition-delay: .05s;
      }

      & li:nth-child(3) {
        transition-delay: .1s;
      }

      & li:nth-child(4) {
        transition-delay: .15s;
      }

      & li:nth-child(5) {
        transition-delay: .2s;
      }

      & li:nth-child(6) {
        transition-delay: .25s;
      }

      & li:nth-child(7) {
        transition-delay: .3s;
      }

      & li:nth-child(8) {
        transition-delay: .35s;
      }

      & li:nth-child(9) {
        transition-delay: .4s;
      }

      & li:nth-child(10) {
        transition-delay: .45s;
      }
    }
  }
}