.home {
  background-image: url(../imgs/waterfall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 90vh;
  overflow: hidden;

  position: relative;
  z-index: 7;

  & .container {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    height: 70px;
    overflow: hidden;
    position: relative;

    @media only screen and(max-width:500px) {
      height: 40px;
    }

    & span {
      text-transform: uppercase;
      font-size: 55px;
      font-weight: 900;
      line-height: 70px;
      letter-spacing: 2px;
      color: $color-primary;
      display: block;
      text-shadow: -2px 2px 6px $color-red, -2px -2px 6px $color-red, 2px -2px 6px $color-red, 2px 2px 6px $color-red;

      @media only screen and(max-width:500px) {
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 40px;
      }

      &:nth-child(1) {
        animation: text-animated 8s linear infinite;
      }
    }
  }

  .dot {
    position: absolute;
    top: -20%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-primary;
    animation: dots infinite;
    animation-name: dots;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    opacity: .7;

    &:nth-child(1) {
      transform: scale(.2);
      left: 70%;
      animation-delay: 5s;

    }

    &:nth-child(2) {
      transform: scale(.3);
      left: 10%;
      animation-delay: 1s;
    }

    &:nth-child(3) {
      transform: scale(.7);
      left: 16%;
      animation-delay: 5.1s;

    }

    &:nth-child(4) {
      transform: scale(.4);
      left: 20%;
      animation-delay: 4s;
    }


    &:nth-child(5) {
      transform: scale(.3);
      left: 30%;
      animation-delay: 5.1s;
    }

    &:nth-child(6) {
      transform: scale(.4);
      left: 60%;
      animation-delay: 4s;
    }

    &:nth-child(7) {
      transform: scale(.6);
      left: 55%;
      animation-delay: 3.2s;
    }

    &:nth-child(8) {
      transform: scale(.5);
      left: 80%;
      animation-delay: 2s;
    }

    &:nth-child(9) {
      transform: scale(.3);
      left: 30%;
      animation-delay: 4.7s;
    }

    &:nth-child(10) {
      transform: scale(.4);
      left: 88%;
      animation-delay: 2.4s;
    }

    &:nth-child(11) {
      transform: scale(.6);
      left: 67%;
      animation-delay: 1.6s;
    }

    &:nth-child(12) {
      transform: scale(.6);
      left: 40%;
      animation-delay: 1.1s;
    }

    &:nth-child(13) {
      transform: scale(.5);
      left: 5%;
      animation-delay: 1s;
    }

    &:nth-child(14) {
      transform: scale(.2);
      left: 8%;
      animation-delay: 3.1s;
    }


    &:nth-child(15) {
      transform: scale(.3);
      left: 18%;
      animation-delay: 2.1s;
    }

    &:nth-child(16) {
      transform: scale(.3);
      left: 69%;
      animation-delay: 1.2s;
    }

    &:nth-child(17) {
      transform: scale(.7);
      left: 77%;
      animation-delay: 5s;
    }

    &:nth-child(18) {
      transform: scale(.5);
      left: 83%;
      animation-delay: 4s;
    }

    &:nth-child(19) {
      transform: scale(.3);
      left: 92%;
      animation-delay: 1s;
    }

    &:nth-child(20) {
      transform: scale(.2);
      left: 25%;
      animation-delay: 5s;
    }

    &:nth-child(21) {
      transform: scale(.2);
      left: 25%;
      animation-delay: 5s;
    }
  }
}

@keyframes text-animated {
  0% {
    margin-top: 0px;
  }

  25% {
    margin-top: -70px;
  }

  50% {
    margin-top: -140px;
  }

  75% {
    margin-top: -70px;
  }

  100% {
    margin-top: 0px;
  }
}

@media only screen and(max-width:500px) {
  @keyframes text-animated {
    0% {
      margin-top: 0px;
    }

    25% {
      margin-top: -40px;
    }

    50% {
      margin-top: -80px;
    }

    75% {
      margin-top: -40px;
    }

    100% {
      margin-top: 0px;
    }
  }
}

@keyframes dots {
  0% {
    top: -20%;
  }

  20% {
    top: 0;
  }

  80% {
    top: 80%;
  }

  100% {
    top: 100%;
  }
}