.work {
  background-color: $color-black;
  padding: 40px 0;
  box-shadow: inset 0 10px 6px $color-white, inset 0 -10px 6px $color-white;



  &__ul {
    display: flex;
    justify-content: space-between;

    list-style: none;


    @media only screen and(max-width:850px) {
      flex-direction: column;
    }
  }

  &__list {
    background-color: gold;
    box-shadow: 0 0 10px $color-white;
    border-radius: 10px;
    padding: 20px 0;

    transition: all .4s;

    @media only screen and(max-width:850px) {
      margin-bottom: 10px;
    }

    &:hover {
      background-color: $color-secondary;
    }

    .title {
      text-align: center;
      margin-bottom: 10px;
      color: $color-primary;
      text-shadow: -2px 2px 6px $color-red, -2px -2px 6px $color-red, 2px -2px 6px $color-red, 2px 2px 6px $color-red;
    }

    .box {
      list-style: none;

      &__list {
        border: 1px solid $color-secondary;
      }

      &__link {
        text-decoration: none;
        display: block;
        background-color: transparent;
        padding: 10px 40px;
        color: inherit;
        font-size: 1rem;
        letter-spacing: 2px;
        font-weight: 600;

        transition: all .4s;

        display: flex;
        align-items: center;

        @media only screen and(max-width:350px) {
          padding: 10px;
        }

        &::before {
          content: "";
          display: inline-block;
          width: 40px;
          height: 45px;
          background-image: url(../imgs/css3.png);
          background-repeat: no-repeat;
          background-size: 40px 40px;
          margin-right: 10px;
        }

        &:hover {
          background-color: $color-primary;
          color: $color-red;
        }
      }

      &--javascript .box__link::before {
        background-image: url(../imgs/javascript.jpg);
        background-repeat: no-repeat;
        background-size: 40px 40px;
      }

      &--reactjs .box__link::before {
        background-image: url(../imgs/reactjs.png);
        background-repeat: no-repeat;
        background-size: 40px 40px;
      }
    }
  }
}