@import "./fonts.scss";
@import "./variables.scss";
@import "./container.scss";
@import "./base.scss";
@import "./btns.scss";
@import "./box.scss";
@import "./card.scss";
@import "./header.scss";
@import "./home.scss";
@import "./work.scss";
@import "./about.scss";
@import "./footer.scss";